<!-- /* // Title: NodeBucket
// Author: Professor Krasso
// Date: Jan 20 2023
// Modified By: Ferdinand Detres Jr
// Attributions:
//www.google.com/books/edition/Getting_MEAN_with_Mongo_Express_Angular/sTgzEAAAQBAJ?hl=en&gbpv=1&dq=Getting+MEAN+with+MongoDB,+Express,+Angular,+and+Node+2+nd+Edition%3B+Simon+Holmes+and+Clive+Harber%3B+Manning+Publications+2019+pdf&printsec=frontcover
// In-Class tutorials */ -->

<div fxLayout="row wrap">
    <!-- address div -->
    <div fxFlex>
        <br />
        <mat-card-content class="align-center">
            <mat-icon style="color:#740001">navigation</mat-icon>
            <br /><br />
            <p>1000 Galvin Road South</p>
            <p>Bellevue, NE</p>
        </mat-card-content>
    </div>

    <!-- contact div -->
    <div fxFlex>
        <br />
        <mat-card-content class="align-center">
            <mat-icon style="color:#740001">phone</mat-icon>
            <br /> <br />
            <p><strong>Direct: </strong> 555-555-5555</p>
            <p><strong>Toll-free: </strong> 1-800-555-5555</p>
            <p><strong>Fax: </strong> 555-555-5555</p>
        </mat-card-content>
    </div>
</div>

<br /><br /><br /><br />
<div fxLayout="column">
    <p style="text-align: center; font-style: italic;">
        Service is just one click away!
    </p>
</div>