<!-- // Title: NodeBucket
// Author: Professor Krasso
// Date: Jan 26 2023
// Modified By: Ferdinand Detres Jr
// Attributions:
//www.google.com/books/edition/Getting_MEAN_with_Mongo_Express_Angular/sTgzEAAAQBAJ?hl=en&gbpv=1&dq=Getting+MEAN+with+MongoDB,+Express,+Angular,+and+Node+2+nd+Edition%3B+Simon+Holmes+and+Clive+Harber%3B+Manning+Publications+2019+pdf&printsec=frontcover
https://angular.io/api/forms/FormBuilder
https://material.angular.io/cdk/drag-drop/overview
https://material.angular.io/cdk/drag-drop/overview
// In-Class tutorials -->
<div fxLayout="row wrap">
    <div fxFlex>
        <div fxLayout="column">

            <div style="text-align: center">
                <em>
                    Welcome to the Magical NodeBucket Organizer for all your wizardly need<br /><br />
                    Photo by <a
                        href="https://unsplash.com/@art_maltsev?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Artem
                        Maltsev</a> on <a
                        href="https://unsplash.com/s/photos/magic?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
                    <img src="../../../assets/artem-maltsev-3n7DdlkMfEg-unsplash.jpg" height="100px" width="200px">
                </em>
            </div>
        </div>
    </div>

    <div fxFlex style="padding-right: 20px">
        <h1 style="text-align: center; color:#740001">Who is this magical application for and what does it do?</h1>
        <p>
            When the first house and class of Gryffindor was founded there was a student who was working on a secret
            project that
            would change the way wizards kept track of all their experimental spells and secret recipes. Before
            Nodebucket many of
            the wizards in the house were forced to write all their recipes and magic spells in a book which spell
            binding was
            prohibited. This was intentional as the professors needed access to see what students were working on and
            also it
            prevented the house of Professor Snape the Slytherins for created and evil spells which would put the rest
            of the houses
            in danger.

        </p>
        <br>
        <p>
            A group of wizards each made up of the different houses decided to create a secret society which would
            disregard this
            rule put forward by Hogwarts. Soon the secret society grew and the development of the NodeBucket started.
            Wizards were
            now able to organize all there potions in a TODO list and once they were completed they would be able to use
            their wands
            to move it into a part of the bucket known as the DONE list. Soon the application became so popular with the
            students
            that word quickly started to spread throughout Hogwarts of a secret society who created an application to
            break the
            house rules.
        </p>


        <p>
            It was said that the student who started the project was locked away in a hidden part of Hogwarts until the
            application
            would be out versioned and usable by the local school browser which was not set to occur until 25 years
            after the
            application was used. Upon his release it is rumored that he already has an updated version stored in his
            memory which
            he will unleash upon his release.
        </p>

    </div>
</div>