/* // Title: NodeBucket
// Author: Professor Krasso
// Date: Jan 15 2023
// Modified By: Ferdinand Detres Jr
// Attributions:
//www.google.com/books/edition/Getting_MEAN_with_Mongo_Express_Angular/sTgzEAAAQBAJ?hl=en&gbpv=1&dq=Getting+MEAN+with+MongoDB,+Express,+Angular,+and+Node+2+nd+Edition%3B+Simon+Holmes+and+Clive+Harber%3B+Manning+Publications+2019+pdf&printsec=frontcover
// In-Class tutorials */
background .main-welcome {
  margin-top: 30px;
}

.title {
  text-align: center;
  font-weight: lighter;
}

.subtitle {
  text-align: center;
  font-size: 14px;
}

.task-container {
  min-width: 300px;
  max-width: 300px;
  margin: 0 auto;
}

.task-column {
  border: 1px solid rgb(209, 87, 87);
  min-height: 68px;
  border-radius: 5px;
  overflow: hidden;
  display: block;
  background: rgb(244, 242, 242);
}

.task-card {
  cursor: move;
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  min-height: 68px;
  font-size: 14px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
}
.main-welcome {
  align-items: center;
}
